<launch>

    <param name="/use_sim_time" value="true" />

    <node pkg="tf" type="static_transform_publisher" name="map2odom" args="0 0 0 0 0 0 1.0 /map /odom 1000" />
    <node pkg="tf" type="static_transform_publisher" name="map2base_link" args="0 0 0 0 0 0 1.0 /map /base_link 1000" />
    <node pkg="tf" type="static_transform_publisher" name="base_link2velodyne" args="0 0 0 0 0 0 1.0 /base_link /velodyne 1000" />

    <node pkg="rviz" type="rviz" name="rviz" args="-d $(find hdl_localization)/rviz/hdl_localization.rviz" />
    <node pkg="rqt_gui" type="rqt_gui" name="rqt_gui" />

</launch>